<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
        rel="stylesheet" type="text/css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>

    <title>Bitrix News Site</title>
</head>

<body>
    <!-- navbar -->
    <nav class="menu">
        <div class="menu__title">
            News Site
        </div>

        <div class="menu__burger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <ul class="menu__list">
            <li class="menu__item">
                <a href="#" class="menu__link">Home</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">About</a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link">Contact</a>
            </li>
        </ul>
    </nav>
    <!-- end navbar -->
    
    <!-- Header -->
    <header class="header">
        <h1 class="header__title">What's new today?</h1>
    </header>

    <!-- News section -->
    <section class="news">
        <h2 class="news__title__main">
            Recent News
        </h2>
        
        <div class="news__item">
            <img src="images/post-bg.jpg" class="news__image" alt="" />
            <div class="news__content">
                <h3 class="news__title">
                    Man must explore, and this is exploration at its greatest
                </h3>
                <p class="news__text">
                    Never in all their history have men been able truly to conceive of
                    the world as one: a single sphere, a globe, having the qualities of
                    a globe, a round earth in which all the directions eventually meet,
                    in which there is no center because every point, or none, is center
                    — an equal earth which all men occupy as equals.
                </p>

                <div class="news__meta">
                    Posted by <span class="news__author">John Doe</span> on
                    <span class="news__date">August 24, 2019</span>
                </div>
            </div>
        </div>
        <div class="news__item">
            <img src="images/post-bg.jpg" class="news__image" alt="" />
            <div class="news__content">
                <h3 class="news__title">
                    Man must explore, and this is exploration at its greatest
                </h3>
                <p class="news__text">
                    Never in all their history have men been able truly to conceive of
                    the world as one: a single sphere, a globe, having the qualities of
                    a globe, a round earth in which all the directions eventually meet,
                    in which there is no center because every point, or none, is center
                    — an equal earth which all men occupy as equals.
                </p>

                <div class="news__meta">
                    Posted by <span class="news__author">John Doe</span> on
                    <span class="news__date">August 24, 2019</span>
                </div>
            </div>
        </div>
        
    </section>

    <!-- Footer -->
    <footer class="footer">
        <p>Copyright © Bitrix News Site 2020</p>
    </footer>

    <!-- Custom JS -->
    <script src="js/app.js"></script>
</body>
</html>